<mat-card>
  <mat-card-header>
    <mat-card-title>Cadastrar candidato</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #formTarefa="ngForm" [formGroup]="form" >
      <mat-form-field hintLabel="Nome completo" appearance="fill" class="full-width">
        <mat-label>Nome Completo</mat-label>
        <input matInput #input maxlength="35" placeholder="Nome" formControlName="nome">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>cpf</mat-label>
        <input matInput #input maxlength="35" placeholder="CPF" formControlName="cpf" mask="000.000.000-00">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Data nascimento</mat-label>
        <input matInput #input maxlength="35" placeholder="Data Nascimento" formControlName="data_nascimento" mask="d0/M0/0000">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput #input maxlength="35" placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>telefone</mat-label>
        <input matInput #input maxlength="35" placeholder="telefone" formControlName="telefone" mask="(00) 00000-0000">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Escolaridade</mat-label>
        <mat-select formControlName="escolaridade">
          <mat-option value="Analfabeto">Analfabeto</mat-option>
          <mat-option value="Fundamental">Fundamental</mat-option>
          <mat-option value="Completo">Completo</mat-option>
          <mat-option value="Médio Incompleto">Médio Incompleto</mat-option>
          <mat-option value="Médio Completo">Médio Completo</mat-option>
          <mat-option value="Superior Incompleto">Superior Incompleto</mat-option>
          <mat-option value="Superior Completo">Superior Completo</mat-option>
          <mat-option value="Mestrado">Mestrado</mat-option>
          <mat-option value="Mestrado">Doutorado</mat-option>
          <mat-option value="Mestrado">Ignorado</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Função</mat-label>
        <input matInput #input maxlength="35" placeholder="Funcao" formControlName="funcao">
      </mat-form-field>


    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()">Salvar</button>
    <button mat-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
