/* You can add global styles to this file, and also import other style files */
.cor_fundo{
  background-color: #2dce89;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card{
  max-width: 90%;
  margin: 1rem auto;
}

@media(max-width: 770px){
  .card{
    width: 90%;
  }
}

@media(max-width: 450px){
  .card{
    width: 70%;
  }
}
